server:
  environment: development
  listen_address: :8080

storage:
  dsn: "host=db port=5432 user=postgres password=password dbname=splitni-to sslmode=disable"

auth:
  jwt_secret: "super-tajne-super-dlhe-tajomstvo"

cors:
  allowed_origins:
   - "http://localhost:5173"
   - "http://127.0.0.1:5173"